/* h1 {
    color: pink;
}
h2 {
    color: aquamarine;
}

.title-h2 {
    background-color: rgb(124, 88, 202);
}
.third {
    font-size: xx-large;
}

#unique-4{
    color: chartreuse;
    background-color: black;
} */
body {
    background-color: black;
    display: flex;
    flex-direction: ;
    align-items: center;
}
h2{
    color: chartreuse;
}
input {
    width: 200px;
    height: 50px;
    margin-top: 15px;
}
button { 
    width: 200px;
    height: 50px;
    background-color: chartreuse;
    font-size: 15px;
    color: red;
    margin-top: 15px;
    border-radius: 10px;
    border: 2px solid red; 
    cursor: pointer;
}

button :hover {
    background-color: violet;
    color: blue;

}